# TEMA 8: Data Encoding

## CSV Files

### Option 1: Using regular python reading functions

We need to split the elements by ourselves

In [1]:
with open ('country.csv','r',encoding='ISO-8859-1') as file:
    header=file.readline().split(',')
    print("HEADER: ")
    print(header)
    row=file.readline().split(',')
    print("ELEMENTS:")
    print(row)

HEADER:
['Country', 'Capital', 'Area(km.sq)', 'Population(mio)', 'Pop. Growth', 'Currency', 'Inflation', 'Official name of Country\n']
ELEMENTS:
['Afghanistan', 'Kabul', '652 090 ', '29.12', '2.58%', 'Afghani', 'Not known', 'Islamic State of Afghanistan\n']

### Option 2: Using CSV library

#### This library automatically do the split for us returning lists

In [2]:
import csv
with open ('country.csv','r',encoding='ISO-8859-1') as csvfile:
    file_reader=csv.reader(csvfile, delimiter=',')
    header=next(file_reader)
    print("HEADER: ")
    print(header)
    for row in file_reader:
        print("ELEMENTS:")
        print(row)
        break

HEADER:
['Country', 'Capital', 'Area(km.sq)', 'Population(mio)', 'Pop. Growth', 'Currency', 'Inflation', 'Official name of Country']
ELEMENTS:
['Afghanistan', 'Kabul', '652 090 ', '29.12', '2.58%', 'Afghani', 'Not known', 'Islamic State of Afghanistan']

#### This library can also read lines as dictionaries

In [3]:
import csv
with open ('country.csv','r',encoding='ISO-8859-1') as csvfile:
    file_reader=csv.DictReader(csvfile)
    for row in file_reader:
        print("Country: "+row["Country"]+
              " Capital: "+row["Capital"]+
              " and Population: "+row["Population(mio)"])
        break

Country: Afghanistan Capital: Kabul and Population: 29.12

### Option 3: Using PANDAS

In [4]:
import pandas as pd
df=pd.read_csv('country.csv',encoding='ISO-8859-1')
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Inflation,Official name of Country
0,Afghanistan,Kabul,652 090,29.12,2.58%,Afghani,Not known,Islamic State of Afghanistan
1,Algeria,Alger,2 381 741,34.3,1.20%,Dinar,Not known,People's Democratic Republic of Algeria
2,Angola,Luanda,1 246 700,18.99,2.10%,Kwanza,Not known,Republic of Angola
3,Antigua and Barbuda,Saint Johns,440,0.09,1.30%,E.C. Dollar,Not known,NaN
4,Argentina,Buenos Aires,2 766 890,40.09,1.05%,Peso,Not known,Argentine Republic

#### Accessing by row number

In [5]:
df.iloc[0:2]

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Inflation,Official name of Country
0,Afghanistan,Kabul,652 090,29.12,2.58%,Afghani,Not known,Islamic State of Afghanistan
1,Algeria,Alger,2 381 741,34.3,1.20%,Dinar,Not known,People's Democratic Republic of Algeria

#### Selecting some columns

In [6]:
columns=["Country","Capital","Population(mio)","Pop. Growth","Official name of Country"]
df.iloc[0:2][columns]

,Country,Capital,Population(mio),Pop. Growth,Official name of Country
0,Afghanistan,Kabul,29.12,2.58%,Islamic State of Afghanistan
1,Algeria,Alger,34.3,1.20%,People's Democratic Republic of Algeria

#### Filtering by condition

In [7]:
df[df["Currency"]=="Dollar"]

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Inflation,Official name of Country
5,Bahamas,Nassau,13 940,0.35,0.93%,Dollar,Not known,Commonwealth of the Bahamas
8,Belize,Belmopan,22 960,0.33,2.15%,Dollar,Not known,NaN
13,Brunei,Bandar Seri Begawan,5 765,0.41,1.76%,Dollar,Not known,Brunei Darussalam
37,Fiji,Suva,18 376,0.85,1.38%,Dollar,Not known,Republic of Fiji
47,Guyana,George Town,214 970,Not known,-0.63%,Dollar,Not known,Cooperative Republic of Guyana
56,Jamaica,Kingston,10 490,2.73,0.76%,Dollar,Not known,NaN
65,Liberia,Monrovia,111 370,4.1,2.67%,Dollar,Not known,Republic of Liberia
83,New Zealand,Wellington,269 000,4.4,0.94%,Dollar,Not known,NaN
103,Solomon Islands,Honiara,27 556,0.53,2.39%,Dollar,Not known,NaN
112,Taiwan,Taipei,39 179,23.16,0.23%,Dollar,Not known,NaN
119,Trinidad and Tobago,Port Of Spain,5 130,1.32,-0.10%,Dollar,Not known,Republic of Trinidad and Tobago
134,Zimbabwe,Harare,390 759,12.64,1.53%,Dollar,Not known,Republic of Zimbabwe

#### Add new column

In [8]:
df["newCol"]="This is New"
df.head()

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Inflation,Official name of Country,newCol
0,Afghanistan,Kabul,652 090,29.12,2.58%,Afghani,Not known,Islamic State of Afghanistan,This is New
1,Algeria,Alger,2 381 741,34.3,1.20%,Dinar,Not known,People's Democratic Republic of Algeria,This is New
2,Angola,Luanda,1 246 700,18.99,2.10%,Kwanza,Not known,Republic of Angola,This is New
3,Antigua and Barbuda,Saint Johns,440,0.09,1.30%,E.C. Dollar,Not known,NaN,This is New
4,Argentina,Buenos Aires,2 766 890,40.09,1.05%,Peso,Not known,Argentine Republic,This is New

#### Remove column

In [9]:
df.drop(columns=["Inflation"],inplace=True)
df.head()

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Official name of Country,newCol
0,Afghanistan,Kabul,652 090,29.12,2.58%,Afghani,Islamic State of Afghanistan,This is New
1,Algeria,Alger,2 381 741,34.3,1.20%,Dinar,People's Democratic Republic of Algeria,This is New
2,Angola,Luanda,1 246 700,18.99,2.10%,Kwanza,Republic of Angola,This is New
3,Antigua and Barbuda,Saint Johns,440,0.09,1.30%,E.C. Dollar,NaN,This is New
4,Argentina,Buenos Aires,2 766 890,40.09,1.05%,Peso,Argentine Republic,This is New

### Writing file with CSV package:

#### Writing using lists

In [10]:
import csv
with open('coches.txt', mode='w',newline='') as fcoches:
    header=['modelo','matricula','color','año']
    coches_writer=csv.writer(fcoches, delimiter='^')
    coches_writer.writerow(header)
    coches_writer.writerow(['Seat Ibiza','8349PFG','Rojo', '2016'])
    coches_writer.writerow(['BMW X3','9449OTF','Azul', '2018'])
    coches_writer.writerow(['Ford Focus','9339FJJ','Negro', '2017'])

#### Writing using dictionaries

In [11]:
import csv
with open('coches2.txt', mode='w',newline='') as fcoches:
    header=['modelo','matricula','color','año']
    coches_writer=csv.DictWriter(fcoches,delimiter='^',fieldnames=header)
    coches_writer.writeheader()
    coches_writer.writerow({'modelo':'Opel Corsa','matricula':'8349TFG','color':'verde','año':'2012'})
    coches_writer.writerow({'modelo':'Opel Vectra','matricula':'8472BSR','color':'rojo','año':'2010'})
    coches_writer.writerow({'modelo':'BMW 320','matricula':'2398TYD','color':'morado','año':'2009'})

### Writing using PANDAS

In [12]:
values=[['Seat Ibiza','8349PFG','Rojo', '2016'],
            ['BMW X3','9449OTF','Azul', '2018'],
            ['Ford Focus','9339FJJ','Negro', '2017']]
header=["modelo","matricula","color","año"]
df=pd.DataFrame(values,columns=header)
df.head()

       modelo matricula  color   año
0  Seat Ibiza   8349PFG   Rojo  2016
1      BMW X3   9449OTF   Azul  2018
2  Ford Focus   9339FJJ  Negro  2017

In [13]:
df.to_csv("coches3.csv",sep="^",index=False)

## EXCEL FILES using PANDAS

### Reading excel files

In [14]:
import pandas as pd
df=pd.read_excel("elections_results.xlsx")
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Arkansas,AR,Johnson,5071,Republican,Ted Cruz,1004,0.298
1,Virginia,VA,Fluvanna,51065,Republican,Ben Carson,232,0.064
2,Wisconsin,WI,Oconto,55083,Democrat,Bernie Sanders,2577,0.513
3,Illinois,IL,Crawford,17033,Democrat,Hillary Clinton,609,0.501
4,North Carolina,NC,Gaston,37071,Republican,John Kasich,2125,0.084

### Writing excel files

In [15]:
values=[['Seat Ibiza','8349PFG','Rojo', '2016'],
            ['BMW X3','9449OTF','Azul', '2018'],
            ['Ford Focus','9339FJJ','Negro', '2017']]
header=["modelo","matricula","color","año"]
df=pd.DataFrame(values,columns=header)
df.head()

       modelo matricula  color   año
0  Seat Ibiza   8349PFG   Rojo  2016
1      BMW X3   9449OTF   Azul  2018
2  Ford Focus   9339FJJ  Negro  2017

In [16]:
df.to_excel("coches4.xlsx",index=False)

## JSON Files

Run this API REST request to see what is a JSON Object

In [6]:
import requests
r = requests.get('https://api.chucknorris.io/jokes/random')
type(r)

requests.models.Response

In [18]:
output=r.json()
print(type(output))

<class 'dict'>

Now you can access all the elements of this object according the dicctionary rules

In [19]:
output["value"]

'Chuck Norris has never eaten Hamburger Helper because Chuck Norris has never needed help. NEVER'

### Reading JSON Files

Json files are regular text files with a JSON object inside. If we read it, we will recover the content as a STRING variable

In [20]:
with open('menu.json','r',encoding='utf-8') as file:
    json_string=file.read()

In [21]:
print(json_string)

{
  "menu": {
    "day": "29/10/2019",
    "value": "11.50€",
    "food": {
      "options": [
        {"starter": "soup", "main": "fish&chips"},
        {"starter": "salad", "main": "pasta"},
        {"starter": "steak tartare", "main": "tuna"}
      ]
    }
  }
}

In [22]:
type(json_string)

str

There exsits libraries that allow to convert those STRINGS in JSONs (dictionaries)

In [23]:
import json
json_dict = json.loads(json_string)

In [24]:
print("Date: ",json_dict["menu"]["day"])
print("Price: ",json_dict["menu"]["value"])
print("First menu option:")
print(json_dict["menu"]["food"]["options"][0])

Date:  29/10/2019
Price:  11.50€
First menu option:
{'starter': 'soup', 'main': 'fish&chips'}

### Writing JSON files

Writing a JSON file is basically saving a dictionary into a text file

In [25]:
print(type(json_dict))

<class 'dict'>

In [26]:
json_dict

{'menu': {'day': '29/10/2019',
  'value': '11.50€',
  'food': {'options': [{'starter': 'soup', 'main': 'fish&chips'},
    {'starter': 'salad', 'main': 'pasta'},
    {'starter': 'steak tartare', 'main': 'tuna'}]}}}

In [27]:
with open('menu2.json','w',encoding='utf-8') as file:
    file.write(str(json_dict))

## XML Files

### Reading XML Files

In [28]:
import xml.etree.ElementTree as ET
tree=ET.parse('countries.xml')
root=tree.getroot()

Every element has a tag and a dictionary of attributes

In [29]:
print("This is the main element tag: "+root.tag)
print("Those are my attributes: "+str(root.attrib))

This is the main element tag: data
Those are my attributes: {}

Elements can have childs.  
Those childs are elements themselves and have tags and attributes

In [30]:
for child in root:
    print(child.tag, child.attrib)

country {'name': 'Liechtenstein'}
country {'name': 'Singapore'}
country {'name': 'Panama'}

Those childs can also have other sub-elements childs

In [31]:
print("Get all atributes: ")
print("")
print(root.tag,root.attrib)
for elem in root:
    print("\t",elem.tag, elem.attrib)
    for subelem in elem:
        print("\t\t",subelem.tag, subelem.attrib)

Get all atributes:

data {}
	 country {'name': 'Liechtenstein'}
		 rank {}
		 year {}
		 gdppc {}
		 neighbor {'name': 'Austria', 'direction': 'E'}
		 neighbor {'name': 'Switzerland', 'direction': 'W'}
	 country {'name': 'Singapore'}
		 rank {}
		 year {}
		 gdppc {}
		 neighbor {'name': 'Malaysia', 'direction': 'N'}
	 country {'name': 'Panama'}
		 rank {}
		 year {}
		 gdppc {}
		 neighbor {'name': 'Costa Rica', 'direction': 'W'}
		 neighbor {'name': 'Colombia', 'direction': 'E'}

In [32]:
print("Get all element contents: ")
print("")
print(root.tag)
for elem in root:
    print("\t",elem.tag, elem.text)
    for subelem in elem:
        print("\t\t",subelem.tag, subelem.text)

Get all element contents:

data
	 country

		 rank 1
		 year 2008
		 gdppc 141100
		 neighbor None
		 neighbor None
	 country

		 rank 4
		 year 2011
		 gdppc 59900
		 neighbor None
	 country

		 rank 68
		 year 2011
		 gdppc 13600
		 neighbor None
		 neighbor None

Children are nested so we can also access them by index

In [33]:
first_country_children =root[0]
second_country_children=root[1]
third_country_children =root[2]

panama_rank=root[2][0]
panama_year=root[2][1]
panama_gdppc=root[2][2]
panama_neighbor1=root[2][3]
panama_neighbor2=root[2][4]

panama_neighbor2_name=root[2][4]
panama_neighbor2_name.attrib
panama_neighbor2_name.text

### Modifying existing XML Files

In [34]:
import xml.etree.ElementTree as ET
tree=ET.parse('countries.xml')
root=tree.getroot()
print(type(tree))

<class 'xml.etree.ElementTree.ElementTree'>

Modify tags

In [35]:
print("Before: ",root[2].tag)
root[2].tag="pais"
print("After: ",root[2].tag)

Before:  country
After:  pais

Modify Attributes

In [36]:
print("Before: ",root[2].attrib)
root[2].attrib={"name":"Spain"}
print("After: ",root[2].attrib)

Before:  {'name': 'Panama'}
After:  {'name': 'Spain'}

Modify text

In [37]:
root[2][0].text="32"    
root[2][1].text="2017" 
root[2][2].text="18850" 
root[2][3].attrib={"name":"Francia", "direction":"N"}
root[2][4].attrib={"name":"Marruecos", "direction":"S"}

Save File

In [38]:
tree.write("Countries2.xml",xml_declaration=True, encoding='utf-8')

### Creating XML from scratch

Create root Element

In [39]:
import xml.etree.ElementTree as ET
data=ET.Element('data')

Create three country sub-elements

In [40]:
ET.SubElement(data, 'country')
ET.SubElement(data, 'country')
ET.SubElement(data, 'country')

Add attributes to every country sub-element

In [41]:
data[0].attrib={"name":"Spain"}
data[1].attrib={"name":"France"}
data[2].attrib={"name":"Italy"}

Add three rank sub-sub-element, you can create the Elements and modify their properties (attributes, text) at the same time

In [42]:
ET.SubElement(data[0], 'rank').text="1"
ET.SubElement(data[1], 'rank').text="2"
ET.SubElement(data[2], 'rank').text="3"

Check the structure is right

In [43]:
ET.dump(data)

<data><country name="Spain"><rank>1</rank></country><country name="France"><rank>2</rank></country><country name="Italy"><rank>3</rank></country></data>

Create the tree and save to a file

In [44]:
tree = ET.ElementTree(data)
tree.write("Countries3.xml",xml_declaration=True, encoding='utf-8')